/* Color Tokens - CSS Variables */
:root {
  /* Colors - Orange */
  --color-orange-50: #fff0ea;
  --color-orange-100: #ffd1bd;
  --color-orange-200: #ffba9d;
  --color-orange-300: #ff9b70;
  --color-orange-400: #ff8754;
  --color-orange-500: #ff6929;
  --color-orange-600: #e86025;
  --color-orange-700: #b54b1d;
  --color-orange-800: #8c3a17;
  --color-orange-900: #6b2c11;

  /* Colors - Green */
  --color-green-50: #e9f8f0;
  --color-green-100: #bae9d0;
  --color-green-200: #98deb9;
  --color-green-300: #6acf98;
  --color-green-400: #4dc585;
  --color-green-500: #20b766;
  --color-green-600: #1da75d;
  --color-green-700: #178248;
  --color-green-800: #126538;
  --color-green-900: #0d4d2b;

  /* Colors - Red */
  --color-red-50: #ffeae9;
  --color-red-100: #fdbeba;
  --color-red-200: #fd9e98;
  --color-red-300: #fc7269;
  --color-red-400: #fb564c;
  --color-red-500: #fa2c1f;
  --color-red-600: #e4281c;
  --color-red-700: #b21f16;
  --color-red-800: #8a1811;
  --color-red-900: #69120d;

  /* Colors - Gray */
  --color-gray-50: #f5f5f7;
  --color-gray-75: #e4e5ea;
  --color-gray-100: #c9ccd4;
  --color-gray-200: #afb3bf;
  --color-gray-300: #8b90a1;
  --color-gray-400: #757a8f;
  --color-gray-500: #525973;
  --color-gray-600: #4b5169;
  --color-gray-700: #3a3f52;
  --color-gray-800: #2d313f;
  --color-gray-900: #222530;
}
